pkgbase = dms-shell
	pkgdesc = A Quickshell-based desktop shell with Material 3 design principles
	pkgver = 0.1.17
	pkgrel = 1
	url = https://github.com/AvengeMedia/DankMaterialShell
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = go
	depends = dgop
	depends = inter-font
	depends = quickshell
	depends = ttf-fira-code
	depends = ttf-material-symbols-variable-git
	optdepends = brightnessctl: Laptop display brightness control
	optdepends = cava: Audio visualizer
	optdepends = cliphist: Clipboard history functionality
	optdepends = matugen: Dynamic wallpaper-based theming
	optdepends = networkmanager: Required for network management
	optdepends = qt5ct: Qt5 application theming
	optdepends = qt6ct: Qt6 application theming
	optdepends = wl-clipboard: Copy functionality for PIDs and other elements
	source = https://github.com/AvengeMedia/DankMaterialShell/archive/v0.1.17/DankMaterialShell-0.1.17.tar.gz
	source = https://github.com/AvengeMedia/danklinux/archive/v0.1.17/danklinux-0.1.17.tar.gz
	sha256sums = 6358c3a62571371a4efa912c1bc7d6cac3223b6ab279c462af728a9f40772731
	sha256sums = 372e6c9963b72e72e1d5fd887202f5c55724c9181d7169ab594046b3ab5be4a8

pkgname = dms-shell
	depends = dgop
	depends = inter-font
	depends = quickshell
	depends = ttf-fira-code
	depends = ttf-material-symbols-variable-git
	depends = dms-shell-compositor

pkgname = dms-shell-hyprland
	pkgdesc = A Quickshell-based desktop shell with Material 3 design principles (for Hyprland)
	depends = dms-shell
	depends = hyprland
	optdepends = 
	provides = dms-shell-compositor

pkgname = dms-shell-niri
	pkgdesc = A Quickshell-based desktop shell with Material 3 design principles (for Niri)
	depends = dms-shell
	depends = niri
	optdepends = 
	provides = dms-shell-compositor
