pkgbase = dms-shell
	pkgdesc = A Quickshell-based desktop shell with Material 3 design principles
	pkgver = 0.1.15
	pkgrel = 1
	url = https://github.com/AvengeMedia/DankMaterialShell
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = go
	depends = dgop
	depends = inter-font
	depends = quickshell
	depends = ttf-fira-code
	depends = ttf-material-symbols-variable-git
	optdepends = brightnessctl: Laptop display brightness control
	optdepends = cava: Audio visualizer
	optdepends = cliphist: Clipboard history functionality
	optdepends = matugen: Dynamic wallpaper-based theming
	optdepends = networkmanager: Required for network management
	optdepends = qt5ct: Qt5 application theming
	optdepends = qt6ct: Qt6 application theming
	optdepends = wl-clipboard: Copy functionality for PIDs and other elements
	source = https://github.com/AvengeMedia/DankMaterialShell/archive/v0.1.15/DankMaterialShell-0.1.15.tar.gz
	source = https://github.com/AvengeMedia/danklinux/archive/v0.1.15/danklinux-0.1.15.tar.gz
	sha256sums = e9e3ed71f30bbc63d9bc7e023896b952c780cc5c58f9ebce1a15d7beae6cb6ea
	sha256sums = 47c980a642b6aa38d0ceb01656bbfb8dd87e3d4f2ffe6710ee81a7cb756d8db8

pkgname = dms-shell
	depends = dgop
	depends = inter-font
	depends = quickshell
	depends = ttf-fira-code
	depends = ttf-material-symbols-variable-git
	depends = dms-shell-compositor

pkgname = dms-shell-hyprland
	pkgdesc = A Quickshell-based desktop shell with Material 3 design principles (for Hyprland)
	depends = dms-shell
	depends = hyprland
	optdepends = 
	provides = dms-shell-compositor

pkgname = dms-shell-niri
	pkgdesc = A Quickshell-based desktop shell with Material 3 design principles (for Niri)
	depends = dms-shell
	depends = niri
	optdepends = 
	provides = dms-shell-compositor
