pkgbase = dgop
	pkgdesc = System monitoring CLI + REST API
	pkgver = 0.1.6
	pkgrel = 1
	url = https://github.com/AvengeMedia/dgop
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = MIT
	makedepends = go
	depends = glibc
	source = https://github.com/AvengeMedia/dgop/archive/v0.1.6/dgop-0.1.6.tar.gz
	sha256sums = 84b5cd7fd207302aef46fbbf83f8cb2354b9b31d0e361be160048a00204b5000

pkgname = dgop
