pkgbase = dgop
	pkgdesc = System monitoring CLI + REST API
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/AvengeMedia/dgop
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	depends = glibc
	source = https://github.com/AvengeMedia/dgop/archive/v0.1.4/dgop-0.1.4.tar.gz
	sha256sums = 37be37b01ba45a9cb7bbd8fbaae985a0f441102d46767054c5b5ff4bf67ffe30

pkgname = dgop
