pkgbase = python-dvc-data
	pkgdesc = DVC’s data management subsystem
	pkgver = 3.16.3
	pkgrel = 1
	url = https://github.com/iterative/dvc-data
	arch = any
	license = Apache-2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools-scm
	depends = python
	depends = python-dictdiffer
	depends = python-dvc-objects
	depends = python-funcy
	depends = python-pygtrie
	depends = python-shortuuid
	source = https://files.pythonhosted.org/packages/source/d/dvc-data/dvc_data-3.16.3.tar.gz
	sha256sums = b20f21d07b0e4309528abfa46b7c6826fb02efab20299d36ac987d01bc0f20b8

pkgname = python-dvc-data
