pkgbase = hyprwhspr
	pkgdesc = Fast, local speech-to-text for Arch/Omarchy
	pkgver = 1.23.0
	pkgrel = 1
	url = https://github.com/goodroot/hyprwhspr
	install = hyprwhspr.install
	arch = x86_64
	license = MIT
	depends = cmake
	depends = git
	depends = python
	depends = python-pip
	depends = python-setuptools
	depends = python-sounddevice
	depends = python-numpy
	depends = python-scipy
	depends = python-evdev
	depends = python-pyperclip
	depends = python-requests
	depends = python-psutil
	depends = python-pyudev
	depends = python-rich
	depends = python-gobject
	depends = python-pulsectl
	depends = python-dbus
	depends = ydotool
	depends = pipewire
	depends = pipewire-alsa
	depends = pipewire-pulse
	optdepends = gtk4-layer-shell: for themed Mic-OSD visualization
	source = hyprwhspr-1.23.0.tar.gz::https://github.com/goodroot/hyprwhspr/archive/refs/tags/v1.23.0.tar.gz
	sha256sums = c3c32c052591449118cfe7aca7b3d1e8c5448131b10e3fd3e133db674dc59484

pkgname = hyprwhspr
