pkgbase = cargo-mutants
	pkgdesc = Mutation testing for Rust
	pkgver = 24.4.0
	pkgrel = 1
	url = https://github.com/sourcefrog/cargo-mutants
	arch = x86_64
	license = MIT
	depends = cargo
	source = cargo-mutants-24.4.0.tar.gz::https://crates.io/api/v1/crates/cargo-mutants/24.4.0/download
	sha256sums = 989081df51e563e71df246d34fcc7088c1a5f9b48733ceb16ca70eb3dc7a13a7

pkgname = cargo-mutants
