pkgbase = python-gflanguages
	pkgdesc = API for evaluating language support in the Google Fonts collection
	pkgver = 0.6.4
	pkgrel = 1
	epoch = 1
	url = https://github.com/googlefonts/gflanguages
	arch = any
	license = Apache-2.0
	checkdepends = python-pytest
	checkdepends = python-filelock
	checkdepends = python-uharfbuzz
	checkdepends = python-youseedee
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools-scm
	depends = python
	depends = python-protobuf
	source = https://files.pythonhosted.org/packages/source/g/gflanguages/gflanguages-0.6.4.tar.gz
	sha256sums = 6be05247674c0bf115be941af401be73ef48a4c79761338a06bf2bf27059ac66

pkgname = python-gflanguages
