pkgbase = python-dvc-data
	pkgdesc = DVC’s data management subsystem
	pkgver = 3.16.5
	pkgrel = 1
	url = https://github.com/iterative/dvc-data
	arch = any
	license = Apache-2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools-scm
	depends = python
	depends = python-dictdiffer
	depends = python-dvc-objects
	depends = python-funcy
	depends = python-pygtrie
	depends = python-shortuuid
	source = https://files.pythonhosted.org/packages/source/d/dvc-data/dvc_data-3.16.5.tar.gz
	sha256sums = ba0d9ac53a1809622f59ff86b24d07639fce7c98d0c26ef9406eed309d04c856

pkgname = python-dvc-data
