pkgbase = nextcloud-app-user-oidc
	pkgdesc = OIDC connect user backend for Nextcloud
	pkgver = 5.0.3
	pkgrel = 1
	url = https://github.com/nextcloud/user_oidc
	arch = x86_64
	license = AGPL3
	makedepends = composer
	makedepends = nextcloud
	makedepends = npm
	makedepends = rsync
	makedepends = yq
	source = https://github.com/nextcloud/user_oidc/archive/v5.0.3/user_oidc-5.0.3.tar.gz
	sha256sums = c25a90651bfba59d046da9680215d2c0128198f9bf4004cb629b64f9e9af17e2

pkgname = nextcloud-app-user-oidc
