pkgbase = nextcloud-app-user-oidc
	pkgdesc = OIDC connect user backend for Nextcloud
	pkgver = 6.1.1
	pkgrel = 1
	url = https://github.com/nextcloud/user_oidc
	arch = x86_64
	license = AGPL-3.0-only
	makedepends = composer
	makedepends = nextcloud
	makedepends = npm
	makedepends = rsync
	makedepends = yq
	source = https://github.com/nextcloud/user_oidc/archive/v6.1.1/user_oidc-6.1.1.tar.gz
	sha256sums = 090c701c0ec5bd344f16eadb02f7793597e3c90f21cfd04f0ba8eae456182e1c

pkgname = nextcloud-app-user-oidc
