pkgbase = nextcloud-app-user-oidc
	pkgdesc = OIDC connect user backend for Nextcloud
	pkgver = 6.0.0
	pkgrel = 1
	url = https://github.com/nextcloud/user_oidc
	arch = x86_64
	license = AGPL3
	makedepends = composer
	makedepends = nextcloud
	makedepends = npm
	makedepends = rsync
	makedepends = yq
	source = https://github.com/nextcloud/user_oidc/archive/v6.0.0/user_oidc-6.0.0.tar.gz
	sha256sums = e38ef16ab07231eb28469979a3f39a30182fe41b4e9253bf222527ca6c861ccf

pkgname = nextcloud-app-user-oidc
