pkgbase = git-extras
	pkgdesc = GIT utilities -- repo summary, commit counting, repl, changelog population and more
	pkgver = 7.2.0
	pkgrel = 1
	url = https://github.com/tj/git-extras
	install = git-extras.install
	arch = any
	license = MIT
	depends = git
	source = git-extras-7.2.0.tar.gz::https://github.com/tj/git-extras/archive/7.2.0.tar.gz
	b2sums = 242adf211a39666b97996f0a45073171034930fe29ee3ebbfa07068886367832e17cc76398145d8802d32201c2563c8f2ba4171ed206344fbefbb10c4fadd6f3

pkgname = git-extras
