pkgbase = pqiv
	pkgdesc = Modern rewrite of Quick Image Viewer
	pkgver = 2.12
	pkgrel = 1
	url = https://github.com/phillipberndt/pqiv
	arch = x86_64
	arch = i686
	license = GPL3
	depends = gtk3
	depends = imagemagick
	depends = libarchive
	depends = libspectre
	depends = libwebp
	source = pqiv-2.12.tar.gz::https://github.com/phillipberndt/pqiv/archive/2.12.tar.gz
	sha256sums = 1538128c88a70bbad2b83fbde327d83e4df9512a2fb560eaf5eaf1d8df99dbe5

pkgname = pqiv

