pkgbase = marktext
	pkgdesc = A simple and elegant open-source markdown editor that focused on speed and usability
	pkgver = 0.21.1
	pkgrel = 1
	url = https://www.marktext.cc
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = moreutils
	makedepends = node-gyp
	makedepends = nodejs-lts-krypton
	makedepends = pnpm
	makedepends = yq
	depends = electron42
	depends = hicolor-icon-theme
	depends = libsecret
	depends = libxkbfile
	depends = openssl
	depends = pandoc
	depends = ripgrep
	source = https://github.com/marktext/marktext/archive/refs/tags/v0.21.1/marktext-0.21.1.tar.gz
	source = marktext.sh
	source = marktext-arg-handling.patch
	source = marktext-static-path.patch
	source = marktext-window-icon.patch
	sha256sums = 36491b6e02a871ef5c4997939952c5d01116b608395ee97adbee3c760279c578
	sha256sums = 8f37f164a642a536b75f54b49e7c7a7c1e4d355a91dd8ece4cab6a95b42d369e
	sha256sums = 09dcb2b527a426a6ca051ea6468c74ab2bb9c78e01d00ddda1f60aa518adf057
	sha256sums = c6bdeb26ef029901178ca84e4d5654d5a27e4e96af208d8631948d62e3ad3172
	sha256sums = f8b69a02f06df0b95fa97756caf8fcefa8da2a66d7a25ae2748ea2172a0c966c

pkgname = marktext
