pkgbase = python-uharfbuzz
	pkgdesc = Streamlined Cython bindings for the harfbuzz shaping engine
	pkgver = 0.39.3
	pkgrel = 1
	url = https://github.com/harfbuzz/
	arch = x86_64
	license = Apache-2.0
	checkdepends = python-pytest
	makedepends = cython
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools-scm
	makedepends = python-scikit-build
	depends = python
	source = https://files.pythonhosted.org/packages/source/u/uharfbuzz/uharfbuzz-0.39.3.zip
	sha256sums = 1102d9fd371cdea6a859be380a3cc554237f4cf2933bc09e98aceaeae8a42229

pkgname = python-uharfbuzz
