pkgbase = python-uharfbuzz
	pkgdesc = Streamlined Cython bindings for the harfbuzz shaping engine
	pkgver = 0.42.0
	pkgrel = 1
	url = https://github.com/harfbuzz/
	arch = x86_64
	license = Apache-2.0
	checkdepends = python-pytest
	makedepends = cython
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-pkgconfig
	makedepends = python-setuptools-scm
	makedepends = python-scikit-build
	depends = python
	source = https://files.pythonhosted.org/packages/source/u/uharfbuzz/uharfbuzz-0.42.0.tar.gz
	sha256sums = b2276e49a420ff87f8b05c637d07dde92842ad21d857056c300c9c2fa3d30114

pkgname = python-uharfbuzz
