pkgbase = python-ufo2ft
	pkgdesc = A bridge from UFOs to FontTools objects
	pkgver = 3.4.2
	pkgrel = 2
	url = https://github.com/googlefonts/ufo2ft
	arch = any
	license = MIT
	checkdepends = python-compreffor
	checkdepends = python-fontmath
	checkdepends = python-pytest
	checkdepends = python-skia-pathops
	checkdepends = python-syrupy
	checkdepends = python-ufolib2
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools-scm
	depends = python
	depends = python-booleanoperations
	depends = python-cffsubr
	depends = python-cu2qu
	depends = python-lxml
	depends = python-defcon
	depends = python-fonttools
	depends = python-fs
	optdepends = python-compreffor
	optdepends = python-skia-pathops
	source = https://files.pythonhosted.org/packages/source/u/ufo2ft/ufo2ft-3.4.2.tar.gz
	sha256sums = 2912e462635200bd2ce86d7c013c546b8e759978a7558bc3c5eeb36d8877914e

pkgname = python-ufo2ft
