pkgbase = python-ufo2ft
	pkgdesc = A bridge from UFOs to FontTools objects
	pkgver = 3.4.0
	pkgrel = 1
	url = https://github.com/googlefonts/ufo2ft
	arch = any
	license = MIT
	checkdepends = python-compreffor
	checkdepends = python-fontmath
	checkdepends = python-pytest
	checkdepends = python-skia-pathops
	checkdepends = python-ufolib2
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools-scm
	depends = python
	depends = python-booleanoperations
	depends = python-cffsubr
	depends = python-cu2qu
	depends = python-lxml
	depends = python-defcon
	depends = python-fonttools
	depends = python-fs
	optdepends = python-compreffor
	optdepends = python-skia-pathops
	source = https://files.pythonhosted.org/packages/source/u/ufo2ft/ufo2ft-3.4.0.tar.gz
	sha256sums = 0cf7dbc723c8f1d5703f1381232e790b75cdbd666a43565debf2fc96209d6f28

pkgname = python-ufo2ft
