pkgbase = ttf-impallari-raleway-dots
	pkgdesc = A dotted version of Raleway, from Pablo Impallari
	pkgver = 1.000
	pkgrel = 2
	url = https://fonts.google.com/specimen/Raleway+Dots
	arch = any
	groups = impallari-fonts
	license = OFL
	source = ttf-impallari-raleway-dots-1.000.zip::https://fonts.google.com/download?family=Raleway+Dots
	sha256sums = e807f7be45d2ac1e022124d9aca2e5f4782bb84e7e91144a9585ca291ad55845

pkgname = ttf-impallari-raleway-dots

