pkgbase = gitbutler
	pkgdesc = Version control client, backed by Git, powered by Tauri/Rust/Svelte
	pkgver = 0.12.19
	pkgrel = 1
	url = https://github.com/gitbutlerapp/gitbutler
	arch = x86_64
	license = LicenseRef-FSL-1.1-MIT
	makedepends = cargo-nightly
	makedepends = cargo-tauri
	makedepends = nodejs
	makedepends = pnpm
	depends = gtk3
	depends = webkit2gtk
	options = !lto
	source = https://github.com/gitbutlerapp/gitbutler/archive/release%2F0.12.19/gitbutler-release-0.12.19.tar.gz
	sha256sums = 15329e2d253364e472043873eb5264360534bea107408efc9cfcefa4742c57ff

pkgname = gitbutler
