pkgbase = gitbutler
	pkgdesc = Version control client, backed by Git, powered by Tauri/Rust/Svelte
	pkgver = 0.13.6
	pkgrel = 1
	url = https://github.com/gitbutlerapp/gitbutler
	arch = x86_64
	license = LicenseRef-FSL-1.1-MIT
	makedepends = cargo-nightly
	makedepends = cargo-tauri
	makedepends = cmake
	makedepends = nodejs
	makedepends = pnpm
	depends = gtk3
	depends = webkit2gtk
	options = !lto
	source = https://github.com/gitbutlerapp/gitbutler/archive/release%2F0.13.6/gitbutler-release-0.13.6.tar.gz
	sha256sums = 344a3d0e494b0127da0e69b6d119b0251f39f879110ac3e88ecaa235ef794843

pkgname = gitbutler
