pkgbase = mattermost-plugin-calls
	pkgdesc = enables voice calling and screen sharing functionality in Mattermost channels
	pkgver = 0.18.2
	pkgrel = 1
	epoch = 1
	url = https://github.com/mattermost/mattermost-plugin-calls
	arch = x86_64
	license = MIT
	makedepends = jq
	options = !strip
	source = https://github.com/mattermost/mattermost-plugin-calls/releases/download/v0.18.2/com.mattermost.calls-0.18.2.tar.gz
	sha256sums = c951bfd8f9116501feb93b4fa0763bc61267bca9db94102357eee58acda9c2b1

pkgname = mattermost-plugin-calls
