pkgbase = gittyup
	pkgdesc = Graphical Git client (GitAhead fork)
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Murmele/Gittyup
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = expac
	makedepends = libgnome-keyring
	makedepends = ninja
	makedepends = qt5-tools
	makedepends = qt5-translations
	depends = cmark
	depends = libssh2
	depends = libsecret
	depends = qt5-base
	optdepends = git-lfs: git-lfs support
	optdepends = libgnome-keyring: for GNOME Keyring for auth credentials
	optdepends = qt5-translations: translations
	source = gittyup::git+https://github.com/Murmele/Gittyup.git#tag=gittyup_v1.0.0
	source = git+https://github.com/libgit2/libgit2.git#tag=v1.4.3
	source = git+https://github.com/git/git.git#tag=v2.36.0
	source = git+https://github.com/libssh2/libssh2.git#tag=libssh2-1.10.0
	source = git+https://github.com/hunspell/hunspell.git#tag=v1.7.0
	source = gittyup.desktop
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = fb900e4d101c19a5b3e1dc4c7619780e1d38fd78d0b9d951e794fbf36eebf21a

pkgname = gittyup
