pkgbase = taskfinder
	pkgdesc = A terminal user interface that extracts and displays tasks from notes files
	pkgver = 2.4.1
	pkgrel = 1
	url = https://codeberg.org/kdwarn/taskfinder
	arch = x86_64
	license = AGPL-3.0-or-later
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	source = taskfinder-2.4.1.tar.gz::https://codeberg.org/kdwarn/taskfinder/archive/v2.4.1.tar.gz
	sha256sums = 316dbffba278304d2130c4d96067b2d8920837dd0727bc6025d05e39a14d5012

pkgname = taskfinder
