pkgbase = ocrs
	pkgdesc = a modern OCR engine written in Rust
	pkgver = 0.8.0
	pkgrel = 1
	url = https://github.com/robertknight/ocrs
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cargo-nightly
	depends = gcc-libs
	depends = glibc
	source = https://github.com/robertknight/ocrs/archive/ocrs-cli-v0.8.0/ocrs-ocrs-cli-v0.8.0.tar.gz
	sha256sums = a5c9826917eea6ffea215969d448bf8409eff159dc2603bbaee37133d96c5f2a

pkgname = ocrs
