pkgbase = ocrs
	pkgdesc = a modern OCR engine written in Rust
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/robertknight/ocrs
	arch = x86_64
	license = MIT
	license = Apache
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	source = https://github.com/robertknight/ocrs/archive/v0.4.0/ocrs-0.4.0.tar.gz
	source = https://github.com/robertknight/ocrs/commit/9f7fdba.patch
	sha256sums = 7e7bed2fbd7c1812642db74922913de7d5f0aa3e57a8712da4ed37c730a17a6c
	sha256sums = db484038c1cbc6a5173f7006eb0722796d87e846ef03fd30280c3514f0c916ba

pkgname = ocrs
