pkgbase = remarkable
	pkgdesc = A free fully featured markdown editor for Linux
	pkgver = 1.95
	pkgrel = 8
	url = http://remarkableapp.github.io
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-beautifulsoup4
	depends = python-cairo
	depends = python-gobject
	depends = python-markdown
	depends = webkit2gtk
	depends = wkhtmltopdf
	depends = gtksourceview3
	optdepends = python-lxml: export to HTML format support
	optdepends = python-gtkspellcheck: Spellcheck (might cause problems)
	source = https://github.com/jamiemcg/Remarkable/archive/v1.95/Remarkable-1.95.tar.gz
	sha256sums = 55f40ff0bc5b9269807e248e0fa849ee4aaf92d32f9b1350ed17bc85ccd3b030

pkgname = remarkable
