pkgbase = hyprwhspr
	pkgdesc = Native Whisper speech-to-text for Arch/Omarchy with Waybar integration
	pkgver = 1.11.1
	pkgrel = 1
	url = https://github.com/goodroot/hyprwhspr
	install = hyprwhspr.install
	arch = x86_64
	license = MIT
	makedepends = python-setuptools
	depends = python
	depends = python-pip
	depends = python-sounddevice
	depends = python-numpy
	depends = python-scipy
	depends = python-evdev
	depends = python-pyperclip
	depends = python-requests
	depends = python-psutil
	depends = python-rich
	depends = ydotool
	depends = pipewire
	depends = pipewire-alsa
	depends = pipewire-pulse
	source = hyprwhspr-1.11.1.tar.gz::https://github.com/goodroot/hyprwhspr/archive/refs/tags/v1.11.1.tar.gz
	sha256sums = 7eac951e3ab6ddcc81afcd58ac23c3c3f2357896ca9780f96d219e72e2db4105

pkgname = hyprwhspr
