pkgbase = hyprwhspr
	pkgdesc = Native Whisper speech-to-text for Arch/Omarchy with Waybar integration
	pkgver = 1.10.0
	pkgrel = 2
	url = https://github.com/goodroot/hyprwhspr
	install = hyprwhspr.install
	arch = x86_64
	license = MIT
	makedepends = python-setuptools
	depends = python
	depends = python-pip
	depends = python-sounddevice
	depends = python-numpy
	depends = python-scipy
	depends = python-evdev
	depends = python-pyperclip
	depends = python-requests
	depends = python-psutil
	depends = python-rich
	depends = ydotool
	depends = pipewire
	depends = pipewire-alsa
	depends = pipewire-pulse
	source = hyprwhspr-1.10.0.tar.gz::https://github.com/goodroot/hyprwhspr/archive/refs/tags/v1.10.0.tar.gz
	sha256sums = d6efb3c6cb4e37ee3907be473329df830826160ddea0c89be43fb18f1a22123c

pkgname = hyprwhspr
