pkgbase = hyprwhspr
	pkgdesc = Native Whisper speech-to-text for Arch/Omarchy with Waybar integration
	pkgver = 1.11.2
	pkgrel = 1
	url = https://github.com/goodroot/hyprwhspr
	install = hyprwhspr.install
	arch = x86_64
	license = MIT
	makedepends = python-setuptools
	depends = python
	depends = python-pip
	depends = python-sounddevice
	depends = python-numpy
	depends = python-scipy
	depends = python-evdev
	depends = python-pyperclip
	depends = python-requests
	depends = python-psutil
	depends = python-rich
	depends = ydotool
	depends = pipewire
	depends = pipewire-alsa
	depends = pipewire-pulse
	source = hyprwhspr-1.11.2.tar.gz::https://github.com/goodroot/hyprwhspr/archive/refs/tags/v1.11.2.tar.gz
	sha256sums = 25fb3fe9595745ddc5b2af96447ca85d94bff1df62b2b43d1733a6942067be43

pkgname = hyprwhspr
