pkgbase = python-hsluv
	pkgdesc = Human-friendly HSL
	pkgver = 5.0.2
	pkgrel = 1
	url = https://pypi.python.org/pypi/hsluv/
	arch = any
	license = GPL
	makedepends = python-setuptools
	depends = python
	options = !emptydirs
	source = https://files.pythonhosted.org/packages/source/h/hsluv/hsluv-5.0.2.tar.gz
	sha512sums = 0ad9ccb09412ae27f8ba6a160570b517939615eed19fe50f45a8def8ce99943752703c6c3ad2804d8abbafb680488070b48df50b275ebda742edd71f63ca457e

pkgname = python-hsluv

