pkgbase = serie
	pkgdesc = A rich git commit graph in your terminal
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/lusingander/serie
	arch = x86_64
	arch = i686
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = git
	depends = glibc
	source = https://github.com/lusingander/serie/archive/v0.1.0/serie-0.1.0.tar.gz
	sha256sums = 0b137996790881805d184ba7cf5f9bc078b703861d8ebf735ba253851c159250

pkgname = serie
