pkgbase = qsv
	pkgdesc = CSV data-wrangling toolkit (fork of xsv)
	pkgver = 0.127.0
	pkgrel = 1
	url = https://github.com/jqnatividad/qsv
	arch = x86_64
	license = MIT
	license = Unlicense
	makedepends = cargo
	makedepends = clang
	makedepends = luau
	depends = python
	depends = python-xlsxwriter
	options = !lto
	source = https://github.com/jqnatividad/qsv/archive/0.127.0/qsv-0.127.0.tar.gz
	sha256sums = 1accc3d8d0954a83bbffc34530151bb8b7b0549afe01d6157d3a6d4e4edacfcb

pkgname = qsv
