pkgbase = ruby-arr-pm
	pkgdesc = RPM reader and writer library
	pkgver = 0.0.12
	pkgrel = 1
	arch = any
	license = Apache 2
	depends = ruby
	noextract = arr-pm-0.0.12.gem
	options = !emptydirs
	source = https://rubygems.org/downloads/arr-pm-0.0.12.gem
	sha1sums = ae97074d19a788357c9b2a101c11abc6cbb93131

pkgname = ruby-arr-pm
