pkgbase = speedata-publisher-bin
	pkgdesc = a database publishing software that creates high-quality layouted PDFs fully automatically
	pkgver = 4.19.2
	pkgrel = 1
	url = https://www.speedata.de/en/product
	arch = x86_64
	license = AGPL3
	depends = glibc
	provides = speedata-publisher=4.19.2
	conflicts = speedata-publisher
	options = !debug
	source = https://download.speedata.de/dl/speedata-publisher-linux-amd64-4.19.2.zip
	sha256sums = 0bf0783525cd3be1533bee725af29527c0968b26b704f55d9c9cfc7092898024

pkgname = speedata-publisher-bin
