pkgbase = departure-mono-font
	pkgdesc = a monospaced pixel font with a lo-fi technical vibe
	pkgver = 1.422
	pkgrel = 1
	url = https://departuremono.com
	arch = any
	license = OFL
	provides = departure-mono-font
	source = https://departuremono.com/assets/DepartureMono-1.422.zip
	sha256sums = fae4949a63893d265c79b7dd9903e63c5a3db52d07d4f29aa604390663067bdb

pkgname = otf-departure-mono
