pkgbase = electron8
	pkgdesc = Build cross platform desktop apps with web technologies
	pkgver = 8.2.5
	pkgrel = 2
	url = https://electronjs.org/
	arch = x86_64
	license = MIT
	license = custom
	makedepends = clang
	makedepends = git
	makedepends = gn
	makedepends = gperf
	makedepends = harfbuzz-icu
	makedepends = java-runtime-headless
	makedepends = jsoncpp
	makedepends = libnotify
	makedepends = lld
	makedepends = llvm
	makedepends = ninja
	makedepends = npm
	makedepends = pciutils
	makedepends = yarn
	makedepends = python2
	makedepends = wget
	makedepends = yasm
	depends = c-ares
	depends = ffmpeg
	depends = gtk3
	depends = http-parser
	depends = libevent
	depends = libxslt
	depends = libxss
	depends = minizip
	depends = nss
	depends = re2
	depends = snappy
	optdepends = kde-cli-tools: file deletion support (kioclient5)
	optdepends = libappindicator-gtk3: StatusNotifierItem support
	optdepends = trash-cli: file deletion support (trash-put)
	optdepends = xdg-utils: open URLs with desktop's default (xdg-email, xdg-open)
	source = git+https://github.com/electron/electron.git
	source = git+https://chromium.googlesource.com/chromium/tools/depot_tools.git
	source = electron8.desktop
	source = default_app-icon.patch
	source = use-system-libraries-in-node.patch
	source = icu67.patch
	source = chromium-skia-harmony.patch
	source = fix-building-with-system-zlib.patch
	source = fix-building-with-unbundled-libxml.patch
	source = fix-shim-header-generation-when-unbundling-ICU.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 92d7bf6f24b5b0a39c9e604e317491a5cffc8ee6e035d7871b08e2fe8c033151
	sha256sums = 00b21418b9468064f6f275566d3cf64c6b014e596acc650100a5a46da31efbfa
	sha256sums = c7eadac877179e586d0cce7f898aa1462b4c207733e68ecc17de9754b691713a
	sha256sums = 5315977307e69d20b3e856d3f8724835b08e02085a4444a5c5cefea83fd7d006
	sha256sums = 771292942c0901092a402cc60ee883877a99fb804cb54d568c8c6c94565a48e1
	sha256sums = 18276e65c68a0c328601b12fefb7e8bfc632346f34b87e64944c9de8c95c5cfa
	sha256sums = e530d1b39504c2ab247e16f1602359c484e9e8be4ef6d4824d68b14d29a7f60b
	sha256sums = e477aa48a11ca4d53927f66a9593567fcd053325fb38af30ac3508465f1dd1f6

pkgname = electron8

