pkgbase = remarshal
	pkgdesc = Convert between CBOR, JSON, MessagePack, TOML, and YAML
	pkgver = 0.20.0
	pkgrel = 2
	url = https://github.com/dbohdan/remarshal
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-poetry-core
	depends = python
	depends = python-cbor2
	depends = python-dateutil
	depends = python-tomlkit
	depends = python-u-msgpack
	depends = python-yaml
	depends = python-colorama
	depends = python-rich-argparse
	depends = python-ruamel-yaml
	conflicts = haskell-yaml
	options = !emptydirs
	source = https://files.pythonhosted.org/packages/source/r/remarshal/remarshal-0.20.0.tar.gz
	sha256sums = 5b73eaa5b0d8ed7d7b2eab3718e532059f7af1586990a17b65413ff926d2e5bf

pkgname = remarshal
