pkgbase = remarshal
	pkgdesc = Convert between CBOR, JSON, MessagePack, TOML, and YAML
	pkgver = 0.18.0
	pkgrel = 2
	url = https://github.com/dbohdan/remarshal
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-poetry-core
	depends = python
	depends = python-cbor2
	depends = python-dateutil
	depends = python-tomlkit
	depends = python-u-msgpack
	depends = python-yaml
	conflicts = haskell-yaml
	options = !emptydirs
	source = https://files.pythonhosted.org/packages/source/r/remarshal/remarshal-0.18.0.tar.gz
	sha256sums = 8fd29ba9d5931f5ee2c54f902b11b26cd3bbca0ad8b3d6f39ca48255284f71dd

pkgname = remarshal
